<p>Cześć {{name}},</p>
<p>Kliknij w ponizszy link aby potwierdzić swój email</p>
<p>
  <a href='{{url}}'>Potwierdź</a>
</p>

<p>Jeśli nie Ty ządałeś tej wiadomości, mozesz ją spokojnie zignorować.</p>